/*body {
    background-color: #2a3d66 !important;
}

nav {
    background-color: #5d54a4 !important;
    
}

nav-link, .nav-item:hover, .nav-item:active, .nav-item:link, .nav-item:visited {
    text-decoration: none !important;
    color: #2a3d66 !important;
}*/