h1, h2, h3, h5, li {
    color: #67f494 !important;
}

span {
    font-weight: bold;
}

hr {
    background-color: #67f494 !important;
}

ul {
    /*list-style-type: none;*/
    text-align:justify;
    line-height: 2;
    font-size: 1.1em;
}

p {
    color: #67f494 !important;
    text-align:justify;
    line-height: 2;
    font-size: 1.1em;
}

input {
    color: #67f494 !important;
    background-color: #363a51 !important;
    border: 1px solid #67f494 !important;
}

input::placeholder {
    color: #4c5267 !important;
}

input:focus {
    border: 1px solid #67f494 !important;
    background-color: #4c5267 !important;
    box-shadow: none !important;
}

button {
    color: #4c5267 !important;
    background-color: #67f494 !important;
    border: none;
}

button:focus {
    border: none;
    box-shadow: none;
}

.ssid {
    font-weight: bold;
    cursor: pointer;
}

.security-average, .security-bad, .security-good {
    font-weight: bold;
}

.security-good {
    color: #68BC00 !important;
}

.security-average {
    color: #FB9E00 !important;
}

.security-bad {
    color: #F44E3B !important;
}

td, th, tr {
    border-color: #67f494 !important;
}

thead, tbody {
    color: #67f494 !important;
}