<input class="form-control mb-3" type="text" name="searchQuery" [(ngModel)]="searchQuery" (ngModelChange)="search()"
    placeholder="Search for keyword... (name or MAC address)">

<pagination-controls class="custom-pagination-style text-center mb-3" (pageChange)="page = $event"></pagination-controls>

<button type="button" class="btn btn-primary mx-3 mb-3" (click)="mergeAllAccesspoints()">Merge all</button>

<div class="table-responsive">
    <table class="table table-striped">
        <thead>
            <tr>
                <th (click)="sort('id')" scope="col">#&nbsp;ᛨ</th>
                <th (click)="sort('ssid')" scope="col">Ssid&nbsp;ᛨ</th>
                <th (click)="sort('bssid')" scope="col">Bssid&nbsp;ᛨ</th>
                <th (click)="sort('frequency')" scope="col">Frequency&nbsp;ᛨ</th>
                <th (click)="sort('securityDataRaw')" scope="col">Security&nbsp;ᛨ</th>
                <th (click)="sort('signalArea')" scope="col">Signal Area&nbsp;ᛨ</th>
                <th (click)="sort('postedBy')" scope="col">Posted By&nbsp;ᛨ</th>
                <th (click)="sort('createDate')" scope="col">Created&nbsp;ᛨ</th>
                <th scope="col">Action</th>
            </tr>
        </thead>
        <tbody>
            <tr *ngFor="let ap of accesspointContainer | orderBy: sortKey: sortReverse | paginate: { itemsPerPage:10, currentPage: page }">
                <th scope="row">{{ ap.id }}</th>
                <td class="ssid" (click)="viewAccesspoint(ap)">{{ ap.ssid }}</td>
                <td>{{ ap.bssid }}</td>
                <td>{{ ap.frequency }}</td>
                <td>{{ ap.securityDataRaw }}</td>
                <td>{{ ap.signalArea }}m<sup>2</sup></td>
                <td>{{ ap.postedBy}}</td>
                <td>{{ formatDate(ap) }}</td>
                <td>
                    <div class="btn-group" role="group">
                        <button type="button" class="btn btn-primary mx-1" (click)="mergeAccesspoint(ap)">Merge</button>
                        <button type="button" class="btn btn-primary mx-1" (click)="deleteAccesspoint(ap)">Delete</button>
                    </div>
                </td>
            </tr>
        </tbody>
    </table>
</div>
