<div class="container-fluid">
    <div class="row justify-content-center">
        <div class="col-lg-12 col-md-12">
            <div class="apm-ol-map" [id]="mapId" [style.height]="mapHeight"></div>
        </div>
    </div>
    <div class="row justify-content-center my-3 no-gutters">
        <div class="col-lg-3 col-md-12">
            <form [formGroup]="securityTypeForm">
                <label>Security type:</label>
                <select class="form-select" aria-label="Select security type to display" formControlName="selectType">
                    <option *ngFor="let type of securityTypesOptions" [value]="type" [selected]="type == 'All'">{{ type }}</option>
                </select>
            </form>
        </div>
    </div>
</div>