<div class="modal-header">
    <h4 class="modal-title" id="modal-basic-title">Upload</h4>
    <button type="button" class="close" aria-label="Close" (click)="modal.dismiss('exit')">
      <span aria-hidden="true">&times;</span>
    </button>
</div>
<div class="modal-body">
    <h4>{{ message }}</h4>
    <h5>Uploaded accesspoints: {{ uploadedAccesspoints }}</h5>
    <h5>Affected accesspoints: {{ affectedAccesspoints }}</h5>
</div>
<div class="modal-footer">
    <button type="button" class="btn btn-outline-dark" (click)="modal.dismiss('exit')">Ok</button>
</div>