<input class="form-control mb-3" type="text" name="searchQuery" [(ngModel)]="searchQuery" (ngModelChange)="search()"
    placeholder="Search for keyword... (name, MAC address or brand)">

<pagination-controls class="custom-pagination-style text-center mb-3" (pageChange)="page = $event"></pagination-controls>

<div class="table-responsive">
    <table class="table table-striped">
        <thead>
            <tr>
                <th (click)="sort('id')" scope="col">#&nbsp;ᛨ</th>
                <th (click)="sort('ssid')" scope="col">Ssid&nbsp;ᛨ</th>
                <th (click)="sort('bssid')" scope="col">Bssid&nbsp;ᛨ</th>
                <th (click)="sort('brand')" scope="col">Brand&nbsp;ᛨ</th>
                <th (click)="sort('frequency')" scope="col">Frequency&nbsp;ᛨ</th>
                <th (click)="sort('secName')" scope="col">Security&nbsp;ᛨ</th>
            </tr>
        </thead>
        <tbody>
            <tr *ngFor="let ap of accesspointContainer | orderBy: sortKey: sortReverse | paginate: { itemsPerPage:12, currentPage: page }">
                <th scope="row">{{ ap.id }}</th>
                <td class="apTitle" (click)="changeSelectedAccesspoint(ap.bssid)">{{ ap.ssid }}</td>
                <td>{{ ap.bssid }}</td>
                <td>{{ ap.brand }}</td>
                <td>{{ ap.frequency }}</td>
                <td [ngClass]="ap.secColor">{{ ap.secName }}</td>
            </tr>
        </tbody>
    </table>
</div>