<div class="container-fluid">
    <div class="row justify-content-center mt-3">
        <div class="col-lg-4">
            <h2>Default</h2>
            <form [formGroup]="defaultUploadForm" (ngSubmit)="uploadDefault()">
                <div>
                    <input class="form-control custom-text" type="text" formControlName="content" placeholder="Json data...">
                </div>
                <button type="submit" class="btn btn-secondary col-12 mt-3">Upload</button>
            </form>
        </div>
        <div class="col-lg-4">
            <h2>Wigle</h2>
            <form [formGroup]="wigleUploadForm" (ngSubmit)="uploadWigle()">
                <div>
                    <input class="form-control" type="file" formControlName="file" (change)="setWigleFileEvent($event)">
                </div>
                <button type="submit" class="btn btn-secondary col-12 mt-3">Upload</button>
            </form>
        </div>
        <div class="col-lg-4">
            <h2>Aircrack-ng</h2>
            <form [formGroup]="aircrackngUploadForm" (ngSubmit)="uploadAircrackng()">
                <div>
                    <input class="form-control" type="file" formControlName="file" (change)="setAircrackngFileEvent($event)">
                </div>
                <button type="submit" class="btn btn-secondary col-12 mt-3">Upload</button>
            </form>
        </div>
    </div>
</div>