.btn {
    background-color: #67f494 !important;
    color: #4c5267 !important;
    cursor: pointer;
    border: none !important;
    box-shadow: none !important;
}

label {
    color: #67f494 !important;
}

textarea {
    color: #67f494 !important;
    background-color: #363a51 !important;
    border: 1px solid #67f494 !important; 
}

textarea:focus {
    box-shadow: none;
}