<div class="container-fluid">
    <div class="row justify-content-center mt-3 text-center">
        <div class="col-lg-5 col-md-12">
            <div class="search-bar-container">
                <input class="form-control custom-input-filed" type="text" name="searchKeyword" [(ngModel)]="searchKeyword" (ngModelChange)="search()" placeholder="Seach for specific bssid, ssid, security, manufacturer...">
            </div>
        </div>
    </div>
    <div class="row justify-content-center mt-3">
        <div class="col-lg-10 col-md-12">
            <div class="table-responsive">
                <table class="table">
                    <thead>
                        <tr>
                            <th scope="col" class="col-sortable" (click)="sort('id')"># ↕</th>
                            <th scope="col" class="col-sortable" (click)="sort('ssid')">SSID ↕</th>
                            <th scope="col" class="col-sortable" (click)="sort('securityName')">Security ↕</th>
                            <th scope="col" class="col-sortable" (click)="sort('safeManufacturer')">Manufacturer ↕</th>
                            <th scope="col" class="col-sortable" (click)="sort('users')">Added/Updated by ↕</th>
                            <th scope="col" class="col-sortable" (click)="sort('editDate')">Last update on ↕</th>
                        </tr>
                    </thead>
                    <tbody>
                        <tr *ngFor="let ap of aps | orderBy: key: reverse | paginate: { itemsPerPage:pageSize, currentPage: page };">
                            <th scope="row">{{ ap.id }}</th>
                            <td class="deatils" (click)="showDetails(ap)">{{ ap.ssid }}</td>
                            <td [style.color]="ap.securityColor">{{ ap.securityName }}</td>
                            <td>{{ ap.safeManufacturer }}</td>
                            <td>{{ ap.users }}</td>
                            <td>{{ dateParse(ap.editDate) }}</td>
                        </tr>
                    </tbody>
                </table>
            </div>
        </div>
    </div>
    <div class="row justify-content-center text-center">
        <div class="col-lg-5 col-md-12">
            <pagination-controls (pageChange)="page = $event"></pagination-controls>
        </div>
    </div>
</div>