<div class="container">
    <div class="row text-center mt-5">
        <div class="col-xl custom-border mr-xl-2">
            <h3 class="mt-2">Sign in</h3>
            <input type="email" class="form-control my-3" id="loginEmail" placeholder="Email address">
            <input type="password" class="form-control my-3" id="loginPassword" placeholder="Password">
            <button class="btn btn-primary my-3" id="loginButton">Sign in</button>
        </div>
        <div class="col-xl custom-border ml-xl-2">
            <h3 class="mt-2">Sign up</h3>
            <input type="email" class="form-control my-3" id="registerEmail" placeholder="Email address">
            <input type="password" class="form-control my-3" id="registerPassword" placeholder="Password">
            <input type="password" class="form-control my-3" id="registerPasswordRepeat" placeholder="Repat password">
            <button class="btn btn-primary my-3" id="registerButton">Sign up</button>
        </div>
    </div>
</div>