<div class="container">
    <div class="row text-center mt-5">
        <div class="col-xl custom-border mr-xl-2">
            <div *ngIf="loginFormGroup.get('email').invalid && loginFormGroup.get('email').errors && (loginFormGroup.get('email').dirty || loginFormGroup.get('email').touched)" class="alert alert-danger my-2" role="alert">
                <div *ngIf="loginFormGroup.get('email').errors.required">Email is required.</div>
                <div *ngIf="loginFormGroup.get('email').errors.email">Wrong email format.</div>
                <div *ngIf="loginFormGroup.get('email').errors?.serverError">Incorrect login details or the account has not been activated yet.</div>
            </div>
            <div *ngIf="loginFormGroup.get('password').invalid && loginFormGroup.get('password').errors && (loginFormGroup.get('password').dirty || loginFormGroup.get('password').touched)" class="alert alert-danger my-2" role="alert">
                <div *ngIf="loginFormGroup.get('password').errors.required">Password is required.</div>
            </div>

            <form [formGroup]="loginFormGroup" (ngSubmit)="loginSubmit()">
                <h3 class="mt-2">Sign in</h3>
                <input type="email" class="form-control my-3" id="loginEmail" placeholder="Email address" formControlName="email">
                <input type="password" class="form-control my-3" id="loginPassword" placeholder="Password" formControlName="password">
                <button type="submit" class="btn btn-primary my-3" id="loginButton">Sign in</button>
            </form>
        </div>
        <div class="col-xl custom-border ml-xl-2">
            <div *ngIf="registerMessage" class="alert alert-success my-2" role="alert">
                Registration was successful, now you need to wait for your account to be activated.
            </div>
            <form [formGroup]="registerFormGroup" (ngSubmit)="registerSubmit()">
                <h3 class="mt-2">Sign up</h3>
                <input type="email" class="form-control my-3" id="registerEmail" placeholder="Email address" formControlName="email">
                <input type="password" class="form-control my-3" id="registerPassword" placeholder="Password" formControlName="password">
                <button type="submit" class="btn btn-primary my-3" id="registerButton">Sign up</button>
            </form>
        </div>
    </div>
</div>