.modal-container {
    padding: 3em;
}

h2 {
    color: var(--apm-primary) !important;
}

p {
    color: var(--apm-secondary) !important;
}

input,
button:active,
button:focus,
button {
    color: var(--apm-secondary) !important;
    border: 1px solid var(--apm-secondary) !important;
}