<div class="modal-header">
    <h4 class="modal-title" id="modal-basic-title">Edit: {{ user.email }}</h4>
    <button type="button" class="close" aria-label="Close" (click)="modal.dismiss('exit')">
      <span aria-hidden="true">&times;</span>
    </button>
</div>
<div class="modal-body">
    <form [formGroup]="userForm">
        <div class="form-group">
            <label for="tokenExpiration">Token expiration</label>
            <input type="number" class="form-control" id="tokenExpiration" formControlName="tokenExpiration">
        </div>
        <div class="form-group">
            <div class="form-check">
                <input class="form-check-input" type="checkbox" id="readPermission" formControlName="readPermission">
                <label class="form-check-label" for="readPermission">Read permission</label>
            </div>
            <div class="form-check">
                <input class="form-check-input" type="checkbox" id="writePermission" formControlName="writePermission">
                <label class="form-check-label" for="writePermission">Write permission</label>
            </div>
            <div class="form-check">
                <input class="form-check-input" type="checkbox" id="adminPermission" formControlName="adminPermission">
                <label class="form-check-label" for="adminPermission">Admin permission</label>
            </div>
        </div>
    </form>
</div>
<div class="modal-footer">
    <button type="button" class="btn btn-outline-dark" (click)="saveChanges()">Save</button>
</div>