.btn {
    background-color: #67f494 !important;
    color: #4c5267 !important;
    cursor: pointer;
    border: none !important;
    box-shadow: none !important;
}

textarea, select {
    color: #67f494 !important;
    background-color: #363a51 !important;
    border: 1px solid #67f494 !important; 
}

textarea:focus, select:focus {
    box-shadow: none;
}

#sandbox-map {
    width: 100%;
    height: 70vh;
    border: 1px solid #67f494 !important;
}

h1, h5, hr {
    color: #67f494 !important;
}