<div class="row">
    <div class="col-11">
        <textarea [(ngModel)]="textData" class="form-control" id="jsonTextarea" rows="2"></textarea>
    </div>
    <div class="col-1">
        <button type="button" class="btn btn-primary mt-2" (click)="uploadData()">Preview</button>
    </div>
</div>
<div class="row mt-4">
    <div class="col-6">
        <div id="sandbox-map"></div>
    </div>
    <div class="col-6">
        <form [formGroup]="accesspointSelect">
            <select class="form-control" formControlName="selection">
                <option *ngFor="let accesspoint of accesspoints" [value]="accesspoint.bssid">{{ accesspoint.ssid }}</option>
            </select>
        </form>

        <div class="mt-5" *ngIf="selectedAccesspoint != null">
            <h1>{{ selectedAccesspoint.ssid }}</h1>
            <hr>
            <h5>BSSID: {{ selectedAccesspoint.bssid }}</h5>
            <h5>Low Signal: {{ rnd(selectedAccesspoint.lowLatitude) }}/{{ rnd(selectedAccesspoint.lowLongitude) }} ->  {{ selectedAccesspoint.lowSignalLevel }}</h5>
            <h5>High Signal: {{ rnd(selectedAccesspoint.highLatitude) }}/{{ rnd(selectedAccesspoint.highLongitude) }} ->  {{ selectedAccesspoint.highSignalLevel }}</h5>
            <h5>Frequency: {{ selectedAccesspoint.frequency }}</h5>
            <h5>Security: {{ selectedAccesspoint.securityDataRaw }}</h5>
        </div>
    </div>
</div>