<div class="container-fluid px-0">
    <div class="row justify-content-center my-1 g-0 mb-3">
        <div class="col-lg-3 col-md-12">
            <form [formGroup]="securityTypeForm">           
                <div class="mx-3">
                    <label>Security type:</label>
                    <select class="form-select" aria-label="Select security type to display" formControlName="selectType">
                        <option *ngFor="let type of securityTypesOptions" [value]="type" [selected]="type == 'All'">{{ type }}</option>
                    </select>
                </div>
            </form>
        </div>
        <div class="col-lg-3 col-md-12">
            <form [formGroup]="ssidForm">
                <div class="mx-3">
                    <label>Search:</label>
                    <input type="text" class="form-control search-field" id="text" placeholder="Keyword..." formControlName="text" aria-describedby="text">
                </div>
            </form>
        </div>
    </div>

    <div class="row justify-content-center g-0">
        <div class="col-lg-12 col-md-12">
            <div class="apm-ol-map" [id]="mapId" [style.height]="mapHeight"></div>
        </div>
    </div>
</div>