<div id="global-map">
    <div [ngClass]="(popupAccesspoints != undefined) ? 'show-true' : 'show-false'" id="popup" class="ol-popup">
        <a id="popup-closer" class="ol-popup-closer">🗙</a>
        <p>There are several accesspoints at this location</p>
        <div *ngFor="let el of popupAccesspoints" id="popup-content">
            <a class="accesspoint-link" (click)="setAccesspoint(el.data)">{{ el.name }}</a>
        </div>
        <div *ngIf="popupIndicator">
            <p>Zoom in to display accesspoints!</p>
        </div>
    </div>
</div>

<form class="mt-3" [formGroup]="securitySelect">
    <select class="form-control" id="security" formControlName="security">
        <option *ngFor="let security of securityOptions">{{ security }}</option>
    </select>
</form>
