<div class="pt-5">
    <div *ngIf="accessPoint != null; else accesspoint_empty_view">
        <h1>{{ accessPoint.ssid }}</h1>
        <h5>BSSID: {{ accessPoint.bssid }}</h5>
        <h5>Brand: {{ accessPoint.brand }}</h5>
        <h5>Frequency: {{ accessPoint.frequency }}</h5>
        <h5>Security: <span [style.color]=" security.color "><strong>{{ security.type }}</strong> - {{ security.description }}</span></h5>
        <h5>Area: {{ accessPoint.signalArea }}m<sup>2</sup></h5>
        <h5>{{ formatPostInfo(accessPoint) }}</h5>
    </div>

    <div class="d-flex justify-content-center align-items-center mt-5">
        <div [ngClass]="accessPoint !=null ? 'map-border' : ''" id="accesspoint-map"></div>
    </div>

</div>

<ng-template #accesspoint_empty_view>
    <h5 class="mt-5">Click on the marker on the map or on the access point name in the list to display detailed data.</h5>
</ng-template>
