<div class="container-fluid">
    <div class="row justify-content-center mt-4 text-center">
        <div class="col-lg-5 col-md-12 mt-5">
            <h2>Access Point Map Scanner</h2>
            <p>The mobile application is used to collect information about access points. The application works on phones with Android. It was designed for Android 4.4 (KitKat) versions, which guarantees compatibility with most devices. We encourage you to use tablets or newer phones to get the most accurate readings.</p>
        
            <p>At the moment, the application is not accurate enough to be able to scan while driving a car or a bicycle. We recommend walking while scanning. Before sakonoaniu make sure to turn on wifi and location services on your device.</p>
        
            <p>Work is underway on a scanning application for Windows and Linux computers that will allow for very accurate readings, and work is also underway on a dedicated scanning device.</p>
        
            <button type="button" class="btn btn-secondary"><a href="/assets/APMScanner.apk" download="APMScanner.apk">Download</a></button>
        </div>

        <div class="col-lg-5 col-md-12 text-center">
            <img src="/assets/app-image.jpg" style="height: 80%;" class="img-fluid" alt="App screenshot">         
        </div>
    </div>
</div>
