.navbar {
    background-color: #363a51 !important;
}

.navbar-brand {
    color: #67f494 !important;
}

.nav-link {
    color: #67f494 !important;
}

.footer-copyright {
    background-color: #363a51 !important;
    color: #67f494 !important;
}

.loading-visible {
    visibility: visible;
}

.loading-hidden {
    visibility: hidden;
}

.loading {
    background-color: #363a51 !important;
    opacity: 0.95 !important;
    position: absolute !important;
    height: 91vh !important;
    width: 100% !important;
    z-index: 1000 !important;
}

.lds-hourglass {
    display: inline-block;
    position: relative;
    left: 50%;
    transform: translateX(-50%);
    top: 40%;
    width: 80px;
    height: 80px;
  }
  .lds-hourglass:after {
    content: " ";
    display: block;
    border-radius: 50%;
    width: 0;
    height: 0;
    margin: 8px;
    box-sizing: border-box;
    border: 32px solid #67f494;
    border-color: #67f494 transparent #67f494 transparent;
    animation: lds-hourglass 1.2s infinite;
  }
  @keyframes lds-hourglass {
    0% {
      transform: rotate(0);
      animation-timing-function: cubic-bezier(0.55, 0.055, 0.675, 0.19);
    }
    50% {
      transform: rotate(900deg);
      animation-timing-function: cubic-bezier(0.215, 0.61, 0.355, 1);
    }
    100% {
      transform: rotate(1800deg);
    }
  }