<table class="table table-striped">
  <thead>
  <tr>
    <th scope="col">#</th>
    <th scope="col">Ssid</th>
    <th scope="col">Bssid</th>
    <th scope="col">Brand</th>
    <th scope="col">Frequency</th>
    <th scope="col">Security</th>
  </tr>
  </thead>
  <tbody>
  <tr *ngFor="let ap of accesspointSelected">
    <th scope="row">{{ ap.tid }}</th>
    <td class="apTitle" (click)="changeSelectedAccesspoint(ap.bssid)">{{ ap.ssid }}</td>
    <td>{{ ap.bssid }}</td>
    <td>{{ ap.brand }}</td>
    <td>{{ ap.frequency }}</td>
    <td [ngClass]="ap.secColor">{{ ap.secName }}</td>
  </tr>
  </tbody>
</table>

<div class="d-flex justify-content-between p-2">
  <ngb-pagination [collectionSize]="accesspointContainerSize" [(page)]="page" [pageSize]="pageSize" (pageChange)="loadContent()">
  </ngb-pagination>
</div>
