.security-average, .security-bad, .security-good {
    font-weight: bold;
}

.security-good {
    color: #68BC00 !important;
}

.security-average {
    color: #FB9E00 !important;
}

.security-bad {
    color: #F44E3B !important;
}

.apTitle {
   cursor: pointer;
   font-weight: bold; 
}

th {
    border-color: #363a51 !important;
}

td {
    border-color: #67f494 !important;
}

thead {
    color: #363a51 !important;
}

tbody {
    color: #67f494 !important;
}

ngb-pagination ::ng-deep .page-item .page-link {
    background-color: #4c5267 !important;
    color: #67f494 !important;
    box-shadow: none !important;
    border-color: #67f494 !important;
}

ngb-pagination ::ng-deep .page-item.active .page-link {
    background-color: #67f494 !important;
    color: #4c5267 !important;
}

ngb-pagination ::ng-deep .page-item {
    border-color: #67f494 !important;
}