.form-container {
    background: linear-gradient(315deg, var(--apm-primary) 0%, var(--apm-secondary) 100%);
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
}

h1 {
    color: var(--apm-background-bright);
}

.register {
    cursor: pointer;
    text-decoration: underline;
    color: #fff;
    font-size: .8em;
    font-style: italic;
}