.active {
    background-color: #67f494 !important;
    color: #4c5267 !important;
    cursor: pointer;
}

.inactive {
    color: #67f494 !important;
    cursor: pointer;
}

.btn {
    background-color: #67f494 !important;
    color: #4c5267 !important;
    cursor: pointer;
    border: none !important;
    box-shadow: none !important;
}

p, h1, h2, hr {
    color: #67f494 !important;
}

.img-size {
    width:80%;
    height: auto;
}