<div class="container-fluid px-5 mt-3">
    <div class="row">
        <ul class="nav nav-pills mb-3">
            <li class="nav-item">
                <a class="nav-link active" (click)="logout()">Logout</a>
            </li>
        </ul>  
    </div>
    <div class="row">
        <div class="col-12">
            <div class="row mt-3">
                <div class="col-6">
                    <h1>Download the scanning app!</h1>
                    <p>
                        You can help with the Access Point Map project by collecting information about 
                        access points in your area. Requires an Android phone (version 4.4 and above). 
                        In the main menu of the application you will find a short instruction on the 
                        scanning process.
                    </p>
                    <a class="btn btn-primary mb-5" href="{{ downloadLink }}" role="button">Download</a>
                    <br>
                    <p>
                        In the future, the user will have more options to manage the accesspoints he has collected and to manage the account. The collection of access points will also be adequately rewarded.
                    </p>

                </div>
                <div class="col-3">
                    <img class="img-responsive img-size" src="assets/phone1.jpeg" alt="Phone1">
                </div>
                <div class="col-3">
                    <img class="img-responsive img-size" src="assets/phone2.jpeg" alt="Phone2">
                </div>
            </div>
        </div>
    </div>
</div>
