<div class="container-fluid px-5 mt-3">
    <div class="row">
        <ul class="nav nav-pills mb-3">
            <li class="nav-item">
                <a class="nav-link active" (click)="logout()">Logout</a>
            </li>
        </ul>  
    </div>
    <div class="row">
        <div class="col-12">
            <p>Download the application for scanning access points. Application designed for devices with the Android 
                operating system. The application works best on Androd version 4.4 (KitKat).</p>
            <a class="btn btn-primary" href="https://github.com/Krzysztofz01/AccessPointMap" role="button">Download</a>
        </div>
    </div>
</div>
