/*  AccessPointMap project default color scheme */
:root {
    --apm-primary: #000046;
    --apm-primary-fade: rgba(0,0,70,0.5);
    --apm-secondary: #1CB5E0;
    --apm-secondary-fade: rgba(28,181,224,0.5);
    --apm-third: #1582B5;
    --apm-fourth: #000000;
    --apm-background-bright: #ffffff;
    --apm-background-dark: #292929;
    --apm-success: #1CE047;
    --apm-danger: #ee4d4d;
    --apm-warning: #FBDF4F;
}