.apm-ol-merge-map {
    height: 55vh;
    border: 1px solid var(--apm-secondary);
}

h5 {
    color: var(--apm-primary);
    margin-bottom: 1em;
}

.master {
    color: var(--apm-secondary);
    margin-top: 1em;
}

textarea {
    color: var(--apm-secondary) !important;
    border: 1px solid var(--apm-secondary) !important;
    text-align: left;
}