<div class="container-fluid">
    <div class="row justify-content-center mt-2">
        <div class="col-lg-12 col-md-12 text-center">
            <h2><span class="danger">{{ accessPointInsecureCount }}</span> of total {{ accessPointCount }} do not have the safest possible configuration!</h2>
        </div>
    </div>
    <div class="row justify-content-center mt-2">
        <div class="col-lg-5 col-md-12">
            <div *ngIf="initialized == true" class="chart-container py-2 px-2">
                <h4 class="text-center">Security types</h4>
                <canvas baseChart 
                    [data]="securityChartOptions.data"
                    [labels]="securityChartOptions.labels"
                    [chartType]="securityChartOptions.type"
                    [options]="securityChartOptions.options"
                    [plugins]="securityChartOptions.plugins"
                    [legend]="securityChartOptions.legend"
                    [colors]="securityChartOptions.colors">
                </canvas>
            </div>
        </div>
        <div class="col-lg-5 col-md-12">
            <div *ngIf="initialized == true" class="chart-container py-2 px-2">
                <h4 class="text-center">Security types</h4>
                <canvas baseChart 
                    [data]="frequencyChartOptions.data"
                    [labels]="frequencyChartOptions.labels"
                    [chartType]="frequencyChartOptions.type"
                    [options]="frequencyChartOptions.options"
                    [plugins]="frequencyChartOptions.plugins"
                    [legend]="frequencyChartOptions.legend"
                    [colors]="frequencyChartOptions.colors">
                </canvas>
            </div>
        </div>
    </div>
    <div class="row justify-content-center mt-3">
        <div class="col-lg-5 col-md-12">
            <div *ngIf="initialized == true" class="chart-container py-2 px-2">
                <h4 class="text-center">The greatest range</h4>
                <canvas baseChart 
                    [datasets]="areaChartOptions.dataArr"
                    [labels]="areaChartOptions.labels"
                    [chartType]="areaChartOptions.type"
                    [options]="areaChartOptions.options"
                    [plugins]="areaChartOptions.plugins"
                    [legend]="areaChartOptions.legend"
                    [colors]="areaChartOptions.colors">
                </canvas>
            </div>
        </div>
        <div class="col-lg-5 col-md-12">
            <div *ngIf="initialized == true" class="chart-container py-2 px-2">
                <h4 class="text-center">Most common manufacturers</h4>
                <canvas baseChart 
                    [datasets]="brandChartOptions.dataArr"
                    [labels]="brandChartOptions.labels"
                    [chartType]="brandChartOptions.type"
                    [options]="brandChartOptions.options"
                    [plugins]="brandChartOptions.plugins"
                    [legend]="brandChartOptions.legend"
                    [colors]="brandChartOptions.colors">
                </canvas>
            </div>
        </div>
    </div>
</div>
