td, th, tr {
    border-color: #67f494 !important;
}

thead, tbody {
    color: #67f494 !important;
}

thead {
    cursor: pointer;
}

::ng-deep .ngx-pagination {
    color: #67f494 !important;
}

::ng-deep .ngx-pagination .disabled {
    color: #363a51 !important;
}

::ng-deep .ngx-pagination .current {
    background-color: #67f494 !important;
    color: #363a51 !important;
}

::ng-deep .ngx-pagination .current:hover {
    background-color: #363a51 !important;
    color: #67f494 !important;
}

input {
    color: #67f494 !important;
    background-color: #363a51 !important;
    border: 1px solid #67f494 !important;
}

input::placeholder {
    color: #4c5267 !important;
}

input:focus {
    border: 1px solid #67f494 !important;
    background-color: #4c5267 !important;
    box-shadow: none !important;
}

.btn {
    background-color: #67f494 !important;
    color: #4c5267 !important;
    cursor: pointer;
    border: none !important;
    box-shadow: none !important;
}

.status-good {
    color: #68BC00 !important;
}

.status-bad {
    color: #F44E3B !important;
}

::ng-deep .ngx-pagination a:hover,  ::ng-deep .ngx-pagination button:hover{
    background-color: #67f494 !important;
    border: none !important;
    color: #363a51 !important;
}