body {
    background-color: #1a2f4b;
    font-family: 'Barlow', sans-serif !important;
    scroll-behavior: smooth !important;
}

.h3 {
   color: #2f8886 !important; 
}

p {
    color: #84c69b !important;
}

a {
    text-decoration: none !important;
}

.navbar-bgcolor {
    background-color: #2f8886 !important;
    font-size: 20px !important;
}

.violet-background {
    background-color: #2f8886 !important;
    font-size: 20px !important;
}

.violet-border {
    border-style: solid;
    border-color: #28475c;
    border-width: 1px;
}

.text-color-grey {
    color: #141212 !important;
}

.text-color-violet {
    color: #260845 !important;
}

.violet-button {
    background-color: #2f8886 !important;
    border-style: none !important;
    color: #1a2f4b !important;
    min-width: 100px !important;
}

.table {
    color: #84c69b !important;
}

.table a {
    text-decoration: none !important;
    color: #532c7a !important;
}

.accessPointUrl {
    color: #2f8886 !important;
    font-weight: bold;
    cursor: pointer;
}

#backButton {
    cursor: pointer;
}